@import "./base.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Aplicando a fonte global no body */
body {
  font-family: var(--font-primary);
  background-color: var(--bg-app);
  color: var(--text-main);
  line-height: var(--leading-normal);
  -webkit-font-smoothing: antialiased;
}

/* // estilizando barra de scrool */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: var(--color-neutral-100);
}

body::-webkit-scrollbar-thumb {
  background: var(--color-accent-600);
  border-radius: var(--radius-lg);
}

/* Botões Globais */
.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-btn-md);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  color: var(--color-neutral-0);
  background-color: var(--color-accent-500);
  border-radius: var(--radius-lg);
  text-decoration: none;
  transition: all var(--transition-fast);
  box-shadow: var(--shadow-sm);
}

.btn-primary:hover {
  background-color: var(--color-accent-600);
  box-shadow: var(--shadow-md);
}

.btn-primary:active {
  transform: scale(0.98);
}

.btn-secondary {
  display: block;
  text-align: center;
  padding: var(--padding-btn-md);
  font-size: var(--text-base);
  font-weight: var(--font-medium);
  color: var(--color-neutral-700);
  border: 1px solid var(--color-neutral-300);
  border-radius: var(--radius-lg);
  text-decoration: none;
  transition: all var(--transition-fast);
}

.btn-secondary:hover {
  background-color: var(--color-neutral-100);
  color: var(--color-neutral-900);
}

.estilo-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0px var(--padding-xl);
  /* border: 1px solid red; */
}
